// Colors
$c-fever-blue-primary: #1DB1DD;
$c-fever-blue-dark: #06232c;
$c-fever-blue-light: #364550;
$c-fever-blue-gradient: linear-gradient(0deg, rgba(83,101,113,1) 0%, rgba(54,69,80,1) 100%);
$c-black: #252525;
$c-white: #fff;
$c-white-off: #efefef;

// Typography
$f-montserrat: "Montserrat", sans-serif;
